<div
  class="cast flex h-[25rem] w-full transform flex-row overflow-hidden rounded-lg bg-black shadow-xl transition-all sm:max-w-7xl"
>
  <div class="photo max-h w-1/2 bg-teal-50"></div>
  <div class="photo-info bg-gray-500"></div>
</div>
