<div class="cast w-screen mt-4 sm:w-lg-card flex flex-col items-center bg-purple-main rounded-lg">
    <div class="reply-indicator w-full h-6 flex flex-col items-center justify-center content-center rounded-t-lg border-t-2 border-l-2 border-r-2 border-purple-main">
        <div class=""><span class="text-white text-xs">Reply to Dan Romero</span></div>        
    </div>    
    <div class="cast-body min-w-full bg-white sm:rounded-lg sm:border sm:border-border-gray">
      <div class="user flex flex-row object-center items-center">
        <div class="w-8 h-8 flex object-center mx-3 my-2">           
          <img
            class="cast__avatar object-contain rounded-full"
            src="img/profile.jpg"
            alt="cast-avatar"
          />          
        </div>
        <div class="cast-names my-2 flex flex-col">           
          <span class="cast__username text-sm font-semibold text-dark-gray-text">zachterell57</span>          
          <a href="" class="cast-merkle-root text-tiny text-slate-400 font-light w-40">0x1234567865</a>
        </div>
      </div>      
      <a
        class="cast-attachment-link"
        href=""
        target="_blank"
      >
        <img
          class="cast-attachment"
          src="img/image.png"
          loading="lazy"
          alt=""
        />
      </a>      
      <div class="cast-reactions mt-2 flex flex-row">
        <div class="likes">                    
            <span class="cast-likes text-sm font-semibold text-dark-gray-text pl-3">1 like</span>
        </div>
        <div class="recasts">                            
          <span class="cast-recasts text-sm font-semibold text-dark-gray-text pl-3">1 recast</span>          
        </div>
      </div>
      <div class="caption px-3 mb-2">                  
            <span class="cast__username text-sm font-semibold text-dark-gray-text">zachterrell57</span>           
          <span class="cast-text text-sm text-dark-gray-text">This is a test</span>        
      </div>  
      <p class="cast-date mb-3 px-3 text-tiny text-slate-400 font-light">5 MINUTES  AGO</p>
    </div>
  </div>