@tailwind base;
@tailwind components;
@tailwind utilities;

.cast-merkle-root{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cast-merkle-root:hover{
    text-overflow: unset;
    overflow: visible;
    white-space: normal;    
}